@import url("https://fonts.googleapis.com/css2? family = Raleway: ital,wght @ 1100 & display = swap");

body {
  width: fit-content;
  max-width: 1440px;
  margin: auto;
 /* height: 1300px;*/
  font-family: "Raleway", sans-serif;
}

#contener{
  width: 100%;
}

#bloc-page {
  padding-left: 20px;
  padding-right: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding-right: 120px;
  padding-top: 3px;
}

nav li {
  margin-right: 40px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav ul a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 27px;
}
#inscription {
  color: #0065fc;
  font-weight: bold;
  border-top: none;
}

.logo-reservia {
  height: 45px;
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
}

.lieux {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 0.5% 0.5%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input {
  width: 160px;
  height: 29px;
  display: inline-flex;
  position: relative;
  right: 5px;
  bottom: 1.5px;
  border: 1px solid #f2f2f2;
}

button {
  width: 90px;
  height: 29px;
  position: relative;
  right: 10px;
  bottom: 6px;
  display: inline-flex;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #f2f2f2;
  background: #0065fc;
  cursor: pointer;
  color: #fff;
  align-items: center;
  font-size: 13px;
}

#search {
  display: none;
}

/**********************************filtres*********************/

#bloc-filtres {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-top: 10px;
}

#filtres-titres {
  padding-top: 10px;
  margin-right: 20px;
}

#trie ul {
  display: flex;
  list-style-type: none;
}

#trie li {
  padding-right: 20px;
}

#trie i {
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 30px;
  background-color: #deebff;
  width: 35px;
  height: 32px;
  margin-right: 10px;
  padding-top: 7px;
}

#trie a {
  color: black;
  text-decoration: none;
}

#trie a:hover {
  color: #0065fc;
}

#eco,
#famille,
#romantique,
#animaux-autorises {
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  height: 35px;
  margin-right: 20px;
  padding-bottom: 4px;
}

#argent,
#enfant,
#coeur,
#animaux {
  text-align: center;
  padding-top: 2px;
  margin-right: 3px;
}

#information {
  display: flex;
  font-size: 15px;
  padding-top: 20px;
}

#icone-info {
  width: 17px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid #deebff;
  color: #0065fc;
  border-radius: 50%;
  padding: 2px 2px;
  font-size: 15px;
  margin-top: 11px;
  text-align: center;
}

h1,
h2 {
  font-weight: bold;
  line-height: 5px;
  font-size: 16px;
}
/***************************hebergements*****************/
#hebergements {
  width: 720px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 13px;
  margin-left: 20px;
}

#hebergements h2 {
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#hebergements img {
  width: 180px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

#fig1,
#fig2,
#fig3 {
  margin-left: 25px;
  margin-right: 5px;
  border: 1px solid #f2f2f2;
  padding: 3px 3px 3px 3px;
  background-color: #fff;
  border-radius: 13px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#fig4,
#fig5,
#fig6 {
  margin-left: 25px;
  margin-right: 5px;
  border: 1px solid #f2f2f2;
  padding: 3px 3px 3px 3px;
  background-color: #fff;
  border-radius: 13px;
  margin-top: 3rem;
}

#bloc123,
#bloc456 {
  margin-left: 15px;
  display: flex;
}

#etoile-bleu1,
#etoile-bleu2,
#etoile-bleu3,
#etoile-bleu4,
#etoile-bleu5,
#etoile-bleu6,
#etoile-bleu7,
#etoile-bleu8,
#etoile-bleu9 {
  color: #0065fc;
}

#etoile_grise1,
#etoile_grise3,
#etoile_grise4,
#etoile_gris4,
#etoile_grise5,
#etoile_grise8,
#etoile_grise9{
  color: grey;
}

#legend1,
#legend2,
#legend3,
#legend4,
#legend5,
#legend6 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  background-color: #fff;
  text-align: start;
  font-size: 14px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  color: black;
  line-height: 5px;
}

.plus {
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: 13px ;
}

/****************************** aside************************/

#populaires {
  width: 300px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 13px;
}

.main{
  display: flex;
  justify-content: space-between;
  margin-right: 11rem;
}

#entete {
  display: flex;
  justify-content: space-between;
  height: auto;
  
}

#titre {
  margin-top: 1.5rem;
  padding-left: 1.1rem;
  margin-left: 0.3rem;

}

#graph {
 padding-top: 2rem;
 padding-right: 2rem;
}

#card1,
#card2,
#card3 {
  display: flex;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  margin-top: 1.5rem;
}

#fig7 img,
#fig8 img,
#fig9 img {
  width: 101px;
  height: 115px;
  object-fit: cover;
  border: 1px solid #f2f2f2;
  padding: 3px 0px 3px 3px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: #fff;
}

#legend7,
#legend8,
#legend9 {
  width: 140px;
  height: 109px;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  padding-left: 8px;
  padding-top: 8px;
  color: black;
  font-size: 14px;
  position: relative;
  right: 4px;
  padding-bottom: 4px;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  line-height: 15px;
}

/****************************activites**************************/

#activitesmarseille {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 16px;
}

#bloc1,
#bloc3 {
  display: inline-flex;
}

#bloc2,
#bloc4 {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  bottom: 175px;
}

#chem1,
#chem4 {
  width: 220px;
  height: 280px;
  box-shadow: 1px 1px 10px #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
}

#chem2,
#chem3 {
  width: 220px;
  height: 127px;
  position: relative;
  top: 11px;
  box-shadow: 1px 1px 10px #f2f2f2;
  margin-left: 25px;
  margin-right: 25px;
}

#chem5,
#chem6 {
  width: 224px;
  height: 127px;
  position: relative;
  top: 12px;
  box-shadow: 1px 1px 10px #f2f2f2;
  margin-left: 25px;
}

#fort_de_pomegues,
#ile_de_frioul,
#notre_dame_de_la_garde,
#parc_longchamp {
  width: 220px;
  height: 90px;
  object-fit: cover;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

#vieux_port,
#parc_national_des_calanques {
  width: 220px;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border: 1px solid #f2f2f2;
}

#leg1,
#leg2,
#leg3,
#leg4,
#leg5,
#leg6 {
  width: 210px;
  height: 30px;
  border: 1px solid #f2f2f2;
  position: relative;
  bottom: 4.5px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: #fff;
  font-size: 12px;
  text-indent: 0px;
  padding-left: 10px;
  padding-top: 7px;
  color: black;
}

/*footer*/

footer {
  width: 1250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px; 
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}

#apropos {
  margin-right: 0px;
  margin-left: 5px;
  line-height: 20px;
}

#apropos h4 {
  color: black;
  font-size: 13px;
  position: relative;
  left: 20px;
}

#apropos ul {
  list-style-type: none;
  position: relative;
  right: 20px;
}
#apropos li,
#heb li,
#assistance li {
  font-size: 14px;
  color: black;
}

#apropos li :hover,
#heb li :hover,
#assistance li :hover {
  color: #0065fc;
}

#apropos a,
#heb a,
#assistance a {
  color: black;
  font-size: 12px;
}

#heb {
  margin-right: 40px;
  line-height: 20px;
}

#heb h4 {
  color: black;
  font-size: 13px;
}

#heb ul {
  list-style-type: none;
  position: relative;
  right: 40px;
}

#assistance {
  margin-right: 100px;
  line-height: 20px;
}

#assistance h4 {
  color: black;
  font-size: 13px;
  position: relative;
  right: 40px;
}

#assistance ul {
  list-style-type: none;
  position: relative;
  right: 80px;
}

/*------------------------------------------------ partie mobile----------------------------------------------- */

@media all and (max-width: 699px) {
  body {
    width: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  header {
    flex-direction: column;
    width: 100%;
    padding-right: 5px;
    margin-left: auto;
  }

  #bloc_page {
    margin: 0px;
    padding: 0px;
  }

  .logo-reservia {
    margin-bottom: 20px;
  }

  .logo-reservia img {
   width: 18%;
    padding-left: 5px;
  }

  .ancres {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
  }

  nav {
    width: 100%;
  }

  nav ul {
    width: 100%;
    padding: 0px;
  }

  nav li {
    text-align: center;
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    padding-left: 3rem;
    margin: 0px;
  }

  nav span {
    position: absolute;
    top: 30px;
    right: 40px;
  }

  nav a:hover {
    padding-top: 37px;
  }

  nav li a:hover {
    border-top: none;
  }

  nav li:hover {
    border-color: #0065fc;
    color: #0065fc;
  }

  #bloc-page{
    padding-left: 0.5rem;
  }

  .champ-de-saisie {
    margin-left: 10px;
  }

  .lieux {
    width: 10%;
    height: 25px;
    flex-direction: column;
  }

  input {
    width: 50%;
  }

  button {
    width: 15%;
    flex-wrap: nowrap;
    position: relative;
    bottom: 5px;
    right: 20px;
  }

  #text_rechercher {
    display: none;
  }

  #search {
    display: initial;
  }

  h1 {
    width: 240px;
    line-height: 20px;
  }

  /*****************Filtres******************/
  #bloc-filtres {
    flex-wrap: wrap;
  }

  #trie ul {
    flex-wrap: wrap;
    padding-left: 0px;
  }

  #trie li {
    margin-bottom: 10px;
  }

  #filtres-titre {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  #information {
    margin-right: 2px;
    padding-top: 0px;
  }

  /****************************hebergements********************/
  #hebergements {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    border: none;
    margin-top: 35rem;
    margin-left: 0.1rem;
  }

  #hebergements_a_marseille {
   padding-bottom: 1rem;
  }

  #bloc123 {
    display: block;
    flex-direction: column;
    margin-left: 0rem;
  }

  #bloc456 {
    display: block;
    flex-direction: column;
    margin-left: 0rem;
  }

  #fig1,
  #fig2,
  #fig3,
  #fig4,
  #fig5,
  #fig6 {
    width: 320px;
    box-shadow: 0px 0px 4px 5px #f2f2f2;
    margin-top: 10px;
    margin-bottom: 17px;
  }

  #hebergements img {
    width: 318px;
  }

  /*******************aside******************/
  .main{
    margin-right: 0rem;
    margin-left: 0rem;
  }
  #populaires {
    width: 390px;
    position: absolute;
    top: 0px;
    margin-top: 38rem;
    border-radius: 0px 0px;
  }

  h2 {
    font-size: 22px;
  }

  #graph i {
    font-size: 28px;
    margin-right: 5px;
  }

  #fig7 img,
  #fig8 img,
  #fig9 img {
    width: 160px;
    height: 120px;
  }

  #legend7,
  #legend8,
  #legend9 {
    width: 160px;
    height: 115px;
  }
  /************************activites*******************/

  #activities {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;

  }

  #activitesmarseille {
    font-size: 25px;
    padding-top: 0rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  #bloc1{
    margin-bottom: 0rem;
  }
 
  #bloc2{
    margin-bottom: 0rem;
    top: 0px;
    bottom: 0px;
  }

  #bloc4 {
  top: 0px;
  bottom: 0px;
  }

  #activitesmarseille {
  margin-left: 25px;
  }

  #vieux_port,
  #parc_national_des_calanques,
  #fort_de_pomegues,
  #ile_de_frioul,
  #notre_dame_de_la_garde,
  #parc_longchamp {
    height: 160px;
    width: 320px;
  }

  #leg1,
  #leg2,
  #leg3,
  #leg4,
  #leg5,
  #leg6 {
    width: 310px;
  }

  #chem1,
  #chem2,
  #chem3,
  #chem4,
  #chem5,
  #chem6 {
    width: 320px;
    height: 201px;
    border-radius: 13px 13px 13px 13px;
  }

  /***********************Footer**************************/

  footer {
    display: grid;
    flex-direction: column;
    width: 390px;
    margin-top: 5rem;
  }

  #apropos {
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
  }

  #heb {
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 25px;
  }

  #assistance {
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 65px;
  }
}

/*************************************Tablette*******************************************/

@media all and (min-width: 700px) and (max-width: 1024px) {
  body {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  header {
    flex-direction: column;
    width: 100%;
  }

  #bloc_page {
    /*margin: 0px;
    padding: 0px;*/
    /*padding-right: 5px;
    padding-left: 5px;*/
    margin-right: 5px;
    margin-left: 5px;
    
  }

  .main{
    /*padding-left: 5px;
    padding-right: 5px;*/
    /*margin-left: 5px;
    margin-right: 5px;*/
  }

  .logo-reservia {
    margin-bottom: 20px;
  }

  .logo-reservia img {
    width: 150%;
  }

  .ancres {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
  }

  nav {
    width: 100%;
  }

  nav ul {
    width: 100%;
    padding: 0px;
  }

  nav li {
    text-align: center;
    width: 100%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    margin: 0px;
  }

  nav a:hover {
    padding-top: 37px;
  }

  nav li a:hover {
    border-top: none;
  }

  nav li:hover {
    border-color: #0065fc;
    color: #0065fc;
  }

  .champ-de-saisie {
    margin-left: 10px;
  }

  .lieux {
    width: 2%;
    height: 25px;
    flex-direction: column;
  }

  input {
   width: 40%;
  }

  button {
    width: 15%;
    flex-wrap: nowrap;
  }

  h1 {
    width: 100%;
    line-height: 20px;
  }

  /***********filtres*/

  #bloc-filtres {
    flex-wrap: wrap;
  }

  #trie ul {
    flex-wrap: wrap;
    padding-left: 5px;
  }

  #trie li {
    margin-bottom: 10px;
  }

  #filtres-titre {
    margin-bottom: 20px;
  }

  /****************************hebergements********************/

  #main{

  }
  #hebergements {
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    background-color: #fff;
    border: none;
    margin-top: 36rem;
  }

  #hebergements_a_marseille {
    font-size: 30px;
    padding-bottom: 3rem;
  }

  #bloc123 {
    display: block;
    flex-direction: column;
    top: 0px;
  }

  #bloc456 {
    display: block;
    flex-direction: column;
    margin-left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
  }

  #fig1,
  #fig2,
  #fig3,
  #fig4,
  #fig5,
  #fig6 {
    width: 153%;
    box-shadow: 0px 0px 4px 5px #f2f2f2;
  }

  #hebergements img {
    width: 100%;
  }

  .plus {
    font-size: 17px;
  }

  /*******************aside******************/
  #populaires {
    width: 100%;
    position: absolute;
    top: 0px;
    border-radius: 0;
    margin-top: 35rem;
    margin-bottom: 0rem;
  }

  h2 {
    font-size: 22px;
  }

  #entete {
    width: 100%;
  }

  #graph i {
    font-size: 28px;
    margin-right: 1.5rem;
  }

  #fig7 img,
  #fig8 img,
  #fig9 img {
    width: 100%;
  }

  #legend7,
  #legend8,
  #legend9 {
    width: 26%;
    margin-right: 50px;
    padding-left: 10px;
    left: 0px;
  }
  /************************activites*******************/

  #activites {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  #activitesmarseille{
    padding-top: 0rem;
    margin-top: 0rem;
    font-size: 30px;
  }

  #bloc1 {
    flex-direction: column;
    margin-bottom: 0rem;
  }
  #bloc2 {
    top: 0px;
    bottom: 0px;
  }

  #bloc3 {
    flex-direction: column;
    margin-bottom: 0rem;
  }

  #bloc4 {    
    top: 0px;
    bottom: 0px;
  }

  #activitesmarseille {
    font-size: 30px;
  }

  #vieux_port,
  #parc_national_des_calanques,
  #fort_de_pomegues,
  #ile_de_frioul,
  #notre_dame_de_la_garde,
  #parc_longchamp {
    height: 160px;
    width: 720px;
  }

  #leg1,
  #leg2,
  #leg3,
  #leg4,
  #leg5,
  #leg6 {
    width: 716px;
    padding-left: 5px;
    font-size: 14px;
  }

  #chem1,
  #chem2,
  #chem3,
  #chem4,
  #chem5,
  #chem6 {
    width: 720px;
    height: 201px;
    border-radius: 13px 13px 13px 13px;
  }

  /***********************Footer**************************/

  footer {
    display: flex;
    flex-wrap: nowrap;
   /* width: 930px;*/
    margin-top: 5rem;
  }

  #apropos,
  #heb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 40px;
    margin-bottom: 25px;
  }

  #assistance {
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 80px;
    padding-right: 20px;
  }
}
