@import url("https://fonts.googleapis.com/css2? family = Raleway: ital,wght @ 1100 & display = swap");

body {
  width: fit-content;
  max-width: 1440px;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

#bloc-page {
  padding-left: 20px;
  padding-right: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
}
nav ul {
  list-style-type: none;
  display: flex;
  padding-right: 40px;
  padding-top: 3px;
}
nav li {
  margin-left: 40px;
}
nav a {
  color: black;
  text-decoration: none;
}
nav ul a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 27px;
}
#inscription {
  color: #0065fc;
  font-weight: bold;
  border-top: none;
}
.logo-reservia {
  height: 45px;
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}
a {
  text-decoration: none;
}
#lieux {
  background-color: #f2f2f2;
  padding-left: 9px;
  padding-right: 7px;
  padding-top: 6px;
  padding-bottom: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
input {
  width: 13%;
  height: 29px;
  border: 1px solid #f2f2f2;
  margin-left: 0px;
}
button {
  width: 8%;
  height: 1.9rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #f2f2f2;
  background: #0065fc;
  cursor: pointer;
  color: #fff;
  align-items: center;
  font-size: 13px;
  margin-left: 0px;
}
#text_rechercher {
  display: initial;
}
#search {
  display: none;
}
/**********************************filtres*********************/
#bloc-filtres {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-top: 10px;
}
#filtres-titres {
  padding-top: 10px;
  margin-right: 1px;
}
#trie ul {
  display: flex;
  list-style-type: none;
  padding-left: 10px;
}
#trie li {
  padding-right: 10px;
}
#trie i {
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 30px;
  background-color: #deebff;
  width: 2.3rem;
  height: 32px;
  margin-right: 5px;
  padding-top: 7px;
}
#trie a {
  color: black;
  text-decoration: none;
}
#trie a:hover {
  color: #0065fc;
}
#eco,
#famille,
#romantique,
#animaux-autorises {
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  height: 35px;
  margin-right: 20px;
  padding-bottom: 4px;
}
#argent,
#enfant,
#coeur,
#animaux {
  text-align: center;
  padding-top: 2px;
  margin-right: 3px;
}
#information {
  display: flex;
  font-size: 15px;
  padding-top: 20px;
}
#icone-info {
  width: 1.5%;
  height: 15px;
  margin-right: 10px;
  border: 1px solid #deebff;
  color: #0065fc;
  border-radius: 50%;
  padding: 2px 2px;
  font-size: 15px;
  margin-top: 11px;
  text-align: center;
}
h1,
h2 {
  font-weight: bold;
  line-height: 5px;
  font-size: 16px;
}
/***************************hebergements*****************/
#hebergements {
  width: 43rem;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 13px;
  margin-left: 20px;
}
#hebergements h2 {
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 20px;
}
#hebergements img {
  width: 11rem;
  height: 80px;
  object-fit: cover;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
#fig1,
#fig2,
#fig3 {
  margin-left: 25px;
  margin-right: 5px;
  border: 1px solid #f2f2f2;
  padding: 3px 3px 3px 3px;
  background-color: #fff;
  border-radius: 13px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.test {
  margin-left: 25px;
  margin-right: 5px;
  border: 1px solid #f2f2f2;
  padding: 3px 3px 3px 3px;
  background-color: #fff;
  border-radius: 13px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#fig4,
#fig5,
#fig6 {
  margin-left: 25px;
  margin-right: 5px;
  border: 1px solid #f2f2f2;
  padding: 3px 3px 3px 3px;
  background-color: #fff;
  border-radius: 13px;
  margin-top: 3rem;
}
#bloc123,
#bloc456 {
  margin-left: 15px;
  display: flex;
}
#etoile-bleu1,
#etoile-bleu2,
#etoile-bleu3,
#etoile-bleu4,
#etoile-bleu5,
#etoile-bleu6,
#etoile-bleu7,
#etoile-bleu8,
#etoile-bleu9 {
  color: #0065fc;
}
#etoile_grise1,
#etoile_grise3,
#etoile_grise4,
#etoile_gris4,
#etoile_grise5,
#etoile_grise8,
#etoile_grise9 {
  color: grey;
}
#legend1,
#legend2,
#legend3,
#legend4,
#legend5,
#legend6 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  background-color: #fff;
  text-align: start;
  font-size: 14px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  color: black;
  line-height: 5px;
}
.plus {
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: 13px;
}
/****************************** aside************************/
#populaires {
  width: 20rem;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 13px;
}
.main {
  display: flex;
  justify-content: space-between;
  margin-right: 48px;
}
#entete {
  display: flex;
  justify-content: space-between;
  height: auto;
}
#titre {
  margin-top: 1.5rem;
  padding-left: 1.1rem;
  margin-left: 0.3rem;
}
#graph {
  padding-top: 2rem;
  padding-right: 2rem;
}
#card1,
#card2,
#card3 {
  display: flex;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  margin-top: 1.5rem;
}
#fig7 img,
#fig8 img,
#fig9 img {
  width: 8rem;
  height: 115px;
  object-fit: cover;
  border: 1px solid #f2f2f2;
  padding: 3px 0px 3px 3px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: #fff;
}
#legend7,
#legend8,
#legend9 {
  width: 8.5rem;
  height: 109px;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  padding-left: 8px;
  padding-top: 8px;
  color: black;
  font-size: 14px;
  position: relative;
  right: 4px;
  padding-bottom: 4px;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  line-height: 15px;
}
/****************************activites**************************/

.activitebloc {
  display: flex;
}

#activitesmarseille {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#bloc1,
#bloc3 {
  display: flex;
  margin-right: 30px;
}

#bloc2,
#bloc4 {
  display: flex;
  flex-direction: column-reverse;
}

.chem1,
.chem4 {
  width: 220px;
  height: 363px;
  box-shadow: 1px 1px 10px #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
}

.figure-img,
.fig_image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px 15px #f2f2f2;
}

.chem2,
.chem3 {
  width: 220px;
  height: 150px;
  box-shadow: 1px 1px 10px #f2f2f2;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 40px;
}

.chem5,
.chem6 {
  width: 220px;
  height: 150px;
  box-shadow: 1px 1px 10px #f2f2f2;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 40px;
}

#fort-de-pomegues,
#ile-de-frioul,
#Notre-Dame-de-La-Garde,
#parc_longchamp {
  width: 220px;
  height: 90px;
  object-fit: cover;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  box-shadow: 1px 1px 10px #f2f2f2;
}

.legende {
  display: flex;
  width: 210px;
  height: 52px;
  border: 1px solid #f2f2f2;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: #fff;
  font-size: 12px;
  text-indent: 0px;
  padding-left: 10px;
  color: black;
  box-shadow: 1px 1px 15px #f2f2f2;
}

.monu2 {
  margin-top: 65px;
}

.monu5 {
  margin-top: 60px;
}

/*footer*/

#footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 100px;
}

.tests {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tests h4 {
  margin-left: 40px;
}

.apropo {
  padding-right: 200px;
  padding-left: 40px;
  list-style-type: none;
  color: black;
}

.tests a {
  color: black;
  font-size: 14px;
}

.tests a:hover {
  color: #0065fc;
}

/*------------------------------------------------ partie mobile----------------------------------------------- */

@media all and (min-width: 320px) and (max-width: 699px) {
  body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  header {
    width: 100%;
    flex-direction: column;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #bloc_page {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .logo-reservia {
    margin-bottom: 20px;
  }
  .logo-reservia img {
    width: 19%;
    padding-left: 5px;
  }
  .ancres {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
  }

  nav {
    width: 100%;
  }

  nav ul {
    width: 100%;
    padding: 0px;
  }

  nav li {
    text-align: center;
    width: 60%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    padding-left: 3rem;
    margin: 0px;
  }
  nav span {
    position: absolute;
    top: 30px;
    right: 40px;
  }
  nav a:hover {
    padding-top: 37px;
  }
  nav li a:hover {
    border-top: none;
  }
  nav li:hover {
    border-color: #0065fc;
    color: #0065fc;
  }
  #bloc-page {
    padding-left: 0.5rem;
  }
  .champ-de-saisie {
    margin-left: 10px;
  }
  .lieux {
    width: 10%;
    height: 25px;
    flex-direction: column;
  }
  input {
    width: 50%;
  }
  button {
    width: 15%;
    flex-wrap: nowrap;
  }
  #text_rechercher {
    display: none;
  }
  #search {
    display: initial;
  }
  h1 {
    width: 70%;
    line-height: 20px;
  }

  /*****************Filtres******************/
  #bloc-filtres {
    flex-wrap: wrap;
  }
  #trie ul {
    flex-wrap: wrap;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  #trie li {
    margin-bottom: 10px;
  }
  #filtres-titre {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  #icone-info {
    padding: 5px 8px 5px 8px;
  }
  #information {
    margin-right: 2px;
    margin-bottom: 40px;
  }
  /****************************hebergements********************/
  #hebergements {
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  #hebergements_a_marseille {
    padding-bottom: 1rem;
  }

  #bloc123 {
    flex-direction: column;
    margin-left: 0rem;
  }

  #bloc456 {
    flex-direction: column;
    margin-left: 0rem;
  }

  #fig1,
  #fig2,
  #fig3,
  #fig4,
  #fig5,
  #fig6 {
    width: 80%;
    box-shadow: 0px 0px 4px 5px #f2f2f2;
    margin-top: 10px;
    margin-bottom: 17px;
  }

  #hebergements img {
    width: 100%;
  }

  /*******************aside******************/
  .main {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  #populaires {
    width: 100%;
    border-radius: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  h2 {
    font-size: 22px;
  }
  #graph i {
    font-size: 28px;
    margin-right: 5px;
  }
  #fig7 img,
  #fig8 img,
  #fig9 img {
    width: 160px;
    height: 120px;
  }

  #legend7,
  #legend8,
  #legend9 {
    width: 160px;
    height: 115px;
  }
  /************************activites*******************/
  #activities {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
  }
  #activitesmarseille {
    font-size: 25px;
    padding-top: 0rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: 0px;
    padding-left: 20px;
  }

  .activitebloc {
    display: flex;
    flex-direction: column;
  }
  #bloc1 {
    width: 221px;
    margin-bottom: 110px;
    margin-left: 60px;
    margin-right: 0px;
  }

  #bloc2 {
    width: 221px;
    margin-left: 60px;
    margin-bottom: 90px;
    margin-right: 0px;
  }

  #bloc3 {
    width: 221px;
    margin-left: 60px;
    margin-bottom: 110px;
    margin-top: 40px;
    margin-right: 0px;
  }

  #bloc4 {
    width: 221px;
    margin-left: 60px;
    margin-bottom: 90px;
    margin-right: 0px;
  }

  #activitesmarseille {
    margin-left: 25px;
  }

  #vieux_port,
  #parc-national-des-calanques,
  #fort-de-pomegues,
  #ile-de-frioul,
  #Notre-Dame-de-La-Garde,
  #parc_longchamp {
    height: 160px;
    width: 100%;
  }

  .legende {
    width: 210px;
  }

  .chem1,
  .chem2,
  .chem3,
  .chem4,
  .chem5,
  .chem6 {
    margin: 0px;
  }

  .monu3 {
    margin-bottom: 55px;
  }

  .monu5 {
    margin-top: 123px;
  }

  /***********************Footer**************************/
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
  }

  .test {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

/*************************************Tablette*******************************************/
@media all and (min-width: 700px) and (max-width: 1024px) {
  body {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
  }
  header {
    flex-direction: column;
    width: 100%;
  }
  #bloc_page {
    margin-right: 5px;
    margin-left: 5px;
  }
  .logo-reservia {
    margin-bottom: 20px;
  }
  .logo-reservia img {
    width: 18%;
  }
  .ancres {
    width: 100%;
    margin: 0px;
  }
  nav {
    width: 100%;
    margin: 0px;
  }
  nav ul {
    width: 100%;
    padding: 0px;
  }
  nav li {
    text-align: center;
    width: 100%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    margin: 0px;
    padding-left: 3rem;
  }
  nav a:hover {
    padding-top: 37px;
  }
  nav li a:hover {
    border-top: none;
  }
  nav li:hover {
    border-color: #0065fc;
    color: #0065fc;
  }
  .champ-de-saisie {
    margin-left: 10px;
  }
  .lieux {
    width: 2%;
    height: 25px;
    flex-direction: column;
  }
  input {
    width: 40%;
  }
  button {
    width: 15%;
    flex-wrap: nowrap;
  }
  h1 {
    width: 100%;
    line-height: 20px;
  }
  /***********filtres*/
  #trie {
    flex-wrap: wrap;
  }

  #bloc-filtres {
    flex-wrap: wrap;
  }

  #filtres-titres {
    padding-top: 10px;
    margin-right: 20px;
  }

  #eco,
  #famille,
  #romantique,
  #animaux {
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    height: 35px;
    width: 30%;
    margin-right: 20px;
    padding-bottom: 4px;
  }

  #argent,
  #enfant,
  #coeur,
  #animaux {
    text-align: center;
    padding-top: 2px;
    margin-right: 4px;
    padding-left: 2px;
    padding-right: 2px;
  }
  #trie ul {
    flex-wrap: wrap;
    padding-left: 5px;
  }
  #trie li {
    margin-bottom: 10px;
  }
  /****************************hebergements*********************/
  #hebergements {
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    background-color: #fff;
    border: none;
    margin-top: 3rem;
  }
  #hebergements_a_marseille {
    font-size: 30px;
    padding-bottom: 3rem;
  }
  #bloc123 {
    display: block;
    flex-direction: column;
  }
  #bloc456 {
    display: block;
    flex-direction: column;
  }
  #fig1,
  #fig2,
  #fig3,
  #fig4,
  #fig5,
  #fig6 {
    box-shadow: 0px 0px 4px 5px #f2f2f2;
  }
  #hebergements img {
    width: 100%;
  }
  .plus {
    font-size: 17px;
  }
  /*******************aside******************/
  .main {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  #populaires {
    width: 785px;
    border-radius: 0;
  }
  h2 {
    font-size: 22px;
  }
  #encarts_populaires {
    margin-left: 8rem;
    margin-right: 20px;
  }

  #graph i {
    font-size: 28px;
    margin-right: 1.5rem;
  }
  #fig7 img,
  #fig8 img,
  #fig9 img {
    width: 10rem;
  }
  #legend7,
  #legend8,
  #legend9 {
    width: 50%;
  }
  #card1,
  #card2,
  #card3 {
    display: flex;
  }
  /************************activites*******************/
  #activites {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  #activitesmarseille {
    padding-top: 0rem;
    margin-top: 0rem;
    font-size: 30px;
  }

  .activitebloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #bloc1,
  #bloc3 {
    flex-direction: column;
  }

  #activitesmarseille {
    font-size: 30px;
  }
  #vieux_port,
  #parc_national_des_calanques,
  #fort_de_pomegues,
  #ile_de_frioul,
  #notre_dame_de_la_garde,
  #parc_longchamp {
    height: 160px;
    width: 100%;
  }
  .legende {
    width: 100%;
    padding-left: 5px;
    font-size: 14px;
  }
  #chem1,
  #chem2,
  #chem3,
  #chem4,
  #chem5,
  #chem6 {
    width: 100%;
    height: 201px;
    border-radius: 13px 13px 13px 13px;
  }
  /**********************Footer**************************/
   
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
  }

  .test {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .tests h4 {
    margin-left: 20px;
  }

  .apropo {
    padding-left: 20px;
    padding-right: 50px;
  }

  #heb {
    padding-right: 50px;
  }
}
